html, body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  text-align: center;
}
body {
  color: white;
  background-color: #000000;
  font-size: 25px;
}

.navBtn{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  
  color: white;
  background-color: black;

  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 8px;
  margin: 10px;
  font-family: 'Lexend Zetta', sans-serif;
  letter-spacing: -2px;
}

.profile {
  object-fit:cover;
  height: 50px;
  width: 50px;
}

.navBar {
  display:flex;
  align-items: center; 
  justify-content: center;
  margin: 0px 20px 0px 20px;
}

.profileimg {
  object-fit:cover;
  height: 225px;
  width: 225px;
  border-radius: 50%;
  margin-top: 40px;
}

.bio{
  font-size: 20px;
  color: darkgray;
    letter-spacing: 3px;
}

.kwk img{
  object-fit:cover;
  height: 400px;
  width: 400px;
}
.followers{
  font-size: 20px;
  color: darkgrey;
  margin: 10px;
  letter-spacing: 4px;
}